<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bible Quiz</title>
    <link rel="stylesheet" href="/css/app.css" />
</head>
<body>
<div class="container">
    <div id="home" class="flex-center flex-column">
        <h1>Bible Quiz</h1>
        <a class="btn" href="/quiz">All Questions</a>
        <a class="btn" href="/quiz">Bible Structure</a>
        <a class="btn" href="/quiz">Book to Story</a>
        <a class="btn" href="/quiz">English to Greek Word</a>
        <a class="btn" href="/quiz">Book to Author</a>
        <a class="btn" href="/quiz">Verse to Reference</a>
    </div>
</div>
</body>
</html>